@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-gray-light text-black antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }

  h1 {
    @apply text-display-mobile md:text-display-tablet lg:text-display;
  }

  h2 {
    @apply text-section-mobile md:text-section;
  }

  h3 {
    @apply text-2xl;
  }

  p {
    @apply leading-relaxed;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply bg-black text-white px-8 py-3 rounded-lg hover:opacity-90 transition-opacity duration-300 font-medium;
  }
}
